<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" action="/update/{{employee.id}}">
        {% csrf_token %}
        <div>
            <br>
            <p>
                <h3>Update Details</h3>
            </p>
        </div>
        <div>
            <p>Employee Id:</p>
            <div>
                <input type="text" name="eid" value="{{employee.eid}}" />
            </div>
        </div>
        <div>
            <p>Employee Name:</p>
            <div>
                <input type="text" name="ename" value="{{employee.ename}}" />
            </div>
        </div>
        <div>
            <p>Employee Email :</p>
            <div>
                <input type="email" name="eemail" value="{{employee.eemail}}" />
            </div>
        </div>
        <div>
            <p>Employee Contact:</p>
            <div>
                <input type="text" name="econtact" value="{{employee.econtact}}" />
            </div>
        </div>
        <div>
            <br>
            <button type="submit">Update</button>
        </div>
    </form>
</body>

</html>